<template>
    <img :src="category.image_url" :alt="category.title" :title="category.description" v-on="$listeners" />
</template>

<script>
export default {
  props: {
    category: {
      required: true
    }
  }
};
</script>

<style>
</style>