<template>
  <div class="discount-card" @click.stop="onItemClick">
    <img :src="discount.image.url" :alt="discount.description" class="discount-card__image" />
    <div class="discount-card__footer">{{discount.title}}</div>
    <div class="discount-card__sale">
      {{discount.discount}}%
      <br />скидка
    </div>
    <!-- <div class="discount-card__category">
      <img :src="discount.category.image_url" alt="discount.category.title" />
    </div> -->
    <v-icon
      class="discount-card__favorite-icon"
      :class="favorited"
      @click.stop="favorite(discount)"
      large
    >mdi-heart-outline</v-icon>
  </div>
</template>

<script>
export default {
  props: {
    discount: {
      type: Object,
      required: true
    }
  },
  computed: {
    favorited() {
      return this.discount.isFavorite ? "discount-card_favorited" : "";
    }
  },
  methods: {
    onItemClick() {
      this.$store.commit(`discounts/set_current_discount`, this.discount);
      this.$router.push(`/discounts/${this.discount.id}`);
    },
    favorite(discount) {
      this.$emit("favorite", discount);
    }
  }
};
</script>

<style lang="scss" scoped>
.discount-card {
  position: relative;
  height: 315px;
  background: #f0efef;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 0px 24px 24px;

  &__image {
    position: absolute;
    width: 201px;
    left: 1.5rem;
    top: 0px;
    border-radius: 0px 0px 24px 24px;
  }

  &__footer {
    position: absolute;
    width: 100%;
    height: 81px;
    bottom: 0px;

    background: #ffffff;
    border: 1px solid #f0efef;
    box-sizing: border-box;
    border-radius: 0px 0px 24px 24px;

    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 81px;

    color: #000000;
    padding-top: 10px;
    padding-left: 1.5rem;
  }

  &__sale {
    position: absolute;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    text-align: center;

    color: #ff2b1f;
    right: 0.5em;
    bottom: 200px;
  }

  &__category {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 48px;
    right: 10px;
    text-align: center;
    padding-top: 10px;
    background: #ceced2;
    border-radius: 30px;
  }

  &__favorite-icon {
    position: absolute;
    bottom: 61px;
    left: calc(1.5rem - 18px);
    cursor: pointer;
  }
  &_favorited {
    color: #ff0000;
  }
}
</style>