<template>
  <div>
    <img :src="path" :alt="title" :title="title" :width="width" :height="height" v-on="$listeners" />
  </div>
</template>

<script>
export default {
  name: "DiscountBrandIcon",
  props: {
    path: {
      required: true,
      type: String
    },
    width: {
      required: false,
      default: "100px",
      type: String
    },
    height: {
      required: false,
      default: "100px",
      type: String
    },
    title: {
      required: false,
      type: String
    }
  }
};
</script>
