<template>
  <v-row>
    <v-col v-for="discount in discounts " :key="discount.id" sm="6" md="4" lg="3">
      <discount-list-item
        :discount="discount"
        :large="discount.large"
        @tag="onTag"
        @favorite="onFavorite"
      />
    </v-col>
  </v-row>
</template>

<script>
import DiscountListItem from "./discount-list-item4.vue";
export default {
  name: "DiscountList",
  components: { DiscountListItem },
  props: {
    discounts: {
      type: Array,
      required: true
    }
  },
  methods: {
    onTag(tag) {
      this.$store.dispatch("discounts/load", {
        query: tag
      });
      this.$router.push("/discounts");
    },
    onFavorite(discount) {
      if (discount.isFavorite)
        this.$store.dispatch("discounts/unfavorite", discount);
      else this.$store.dispatch("discounts/favorite", discount);
    }
  }
};
</script>
