<template>
  <div class="main">
    <div class="sales">
      {{discount}}%
      <br />скидка
    </div>
    <img src="/icons/discounts/discount-icon.svg" alt="Скидка" :width="width" :height="height" />
  </div>
</template>
<script>
export default {
  name: "DiscountIcon",
  props: {
    discount: {
      required: true,
      type: Number
    },
    width: {
      required: false,
      default: "100px"
    },
    height: {
      required: false,
      default: "100px"
    }
  }
};
</script>
<style scoped>
.sales {
  position: absolute;
  color: white;
  width: 100%;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  top: 24px;
}
</style>