<template>
  <div class="discount-card" @click.stop="onItemClick" :class="largeCard">
    <div class="discount-card__image">
      <img class="discount-card__image_positioned" :src="discount.image.url" :alt="discount.title" />
      <div class="discount-card__favorite-icon_positioned">
        <v-icon
          class="discount-card__favorite-icon"
          :class="favorited"
          :color="hover ? 'red': ''"
          @click.stop="favorite(discount)"
        >mdi-heart-outline</v-icon>
      </div>
    </div>
    <div><span v-for="tag in discount.tags" :key="tag" class="ml-1">{{tag}}</span></div>
    <div class="discount-card__brand-category">
      <div @click.stop="onTagClick(discount.category.title)">{{discount.category.title}}</div>
      <div @click.stop="onTagClick(discount.brand.title)">{{discount.brand.title}}</div>
    </div>
    <div class="discount-card__title">{{discount.title}}</div>
    <div class="discount-card__sale">Скидка {{discount.discount}}%</div>
    <div class="divider" />
  </div>
</template>

<script>
export default {
  props: {
    discount: {
      type: Object,
      required: true
    },
    large: {
      type: Boolean,
      default: false,
      required: false
    }
  },
  data() {
    return {
      hover: false
    };
  },
  computed: {
    favorited() {
      return this.discount.isFavorite
        ? "discount-card__favorite-icon_favorited"
        : "";
    },
    largeCard() {
      return this.large ? "discount-card_large" : "";
    }
  },
  methods: {
    onItemClick() {
      this.$store.commit(`discounts/set_current_discount`, this.discount);
      this.$router.push(`/discounts/${this.discount.id}`);
    },
    favorite(discount) {
      this.$emit("favorite", discount);
    },
    onTagClick(tag) {
      console.log(tag);

      this.$emit("tag", tag);
    }
  }
};
</script>
<style lang="scss">
.discount-card {
  display: flex;
  flex-direction: column;
  &__image {
    align-self: center;
    position: relative;
    min-width: 100%;
    &_positioned {
      width: 100%;
      border-radius: 8px;
    }
  }
  &__favorite-icon {
    color: white !important;
    &_favorited {
      color: red !important;
    }
    &_positioned {
      position: absolute;
      right: 5px;
      bottom: 5px;
      z-index: 1;
    }
  }
  &__brand-category {
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    line-height: 200%;
    display: flex;
    justify-content: space-between;
    text-decoration: underline;
    cursor: pointer;
  }
  &__title {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #77767e;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  &__sale {
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 1.2em;
    line-height: 200%;
    letter-spacing: -0.08px;
    text-align: center;

    color: #ff2b1f;
  }
}
.discount-card {
  @media (max-width: 767px) {
    width: calc(50vw - 24px);
  }
}
.discount-card_large {
  @media (max-width: 767px) {
    width: calc(100vw - 24px);
    img {
      height: calc(50vw - 24px);
    }
  }
}
</style>