<template>
  <div class="discount-item">
    <v-list-item>
      <v-list-item-avatar color="grey" @click.prevent.stop="onTagClick(discount.category.title)">
        <img :src="discount.category.image_url" />
      </v-list-item-avatar>
      <v-list-item-content>
        <!-- <v-list-item-title>{{discount.title}}</v-list-item-title> -->
        <v-list-item-subtitle :title="discount.category.description" wrap class="category-title">
          <a @click.prevent="onTagClick(discount.category.title)">{{discount.category.title}}</a>
        </v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>
    <div class="placeholder">
      <v-img :src="discount.image.url" width="100%" @click.stop="onItemClick"></v-img>
      <!-- <v-carousel height="300px" :hide-delimiters="true">
        <v-carousel-item
          v-for="image in discount.images"
          :src="image.url"
          :key="image.id"
          @click.stop="onItemClick"
        ></v-carousel-item> 
      </v-carousel>-->
      <discount-icon class="discount-icon" :discount="discount.discount"></discount-icon>
      <discount-brand-icon
        :path="discount.brand.image_url"
        :title="discount.brand.title"
        class="discount-brand-icon"
        @click.stop="onTagClick(discount.brand.title)"
      />
      <like-icon
        class="favorite-icon"
        @click.stop="favorite(discount)"
        :favorite="discount.isFavorite"
      />
    </div>
    <v-card-actions>
      <a
        v-for="tag in discount.tags"
        :key="tag"
        class="ml-2 discount-tag"
        @click="onTagClick(tag)"
      >{{tag}}</a>
      <v-spacer></v-spacer>

      <v-btn icon @click="show = !show">
        <v-icon>{{ show ? 'mdi-chevron-up' : 'mdi-chevron-down' }}</v-icon>
      </v-btn>
    </v-card-actions>

    <v-expand-transition>
      <div v-show="show">
        <v-card-text>{{discount.description}}</v-card-text>
      </div>
    </v-expand-transition>
  </div>
</template>

<script>
import DiscountIcon from "./discount-icon";
import DiscountBrandIcon from "./discount-brand-icon";
import LikeIcon from "./like-icon";
export default {
  name: "DiscountListItem",
  components: { DiscountIcon, DiscountBrandIcon, LikeIcon },
  data() {
    return {
      show: false
    };
  },
  props: {
    discount: {
      type: Object,
      required: true
    }
  },
  methods: {
    onTagClick(tag) {
      console.log(tag);

      this.$emit("tag", tag);
    },
    truncate(text) {
      return text ? text.substring(0, 150) + "..." : "";
    },
    favorite(id) {
      this.$emit("favorite", id);
    },
    onItemClick() {
      this.$store.commit(`discounts/set_current_discount`, this.discount);
      this.$router.push(`/discounts/${this.discount.id}`);
    }
  }
};
</script>

<style scoped>
/* .favorite {
  color: red;
  cursor: pointer;
} */
.favorite-icon {
  position: absolute;
  left: 20px;
  bottom: 0px;
}
.discount-description {
  white-space: normal;
}

.discount-icon {
  position: absolute;
  right: 14px;
  bottom: -17px;
}

.discount-item {
  min-height: 400px;
}

.category-title,
.discount-tag {
  font-family: SF UI Display !important;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
}

.discount-brand-icon {
  position: absolute;
  top: -20px;
  right: 10px;
  cursor: pointer;
}
.discount-brand-icon img {
  width: 50px;
  height: 50px;
}

.v-list-item {
  margin: 0;
}

.placeholder {
  position: relative;
  min-height: 300px;
  min-width: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("/discount-placeholder.png");
}
</style>