<template>
  <div class="like-wrapper" @mouseover="hover = true" @mouseleave="hover=false" v-on="$listeners">
    <div class="like-text" :class="favoriteClass" v-html="content"></div>

    <div class="like-icon" >
      <v-icon :class="favoriteClass" :color="hover ? 'red': ''">mdi-heart</v-icon>
    </div>
    <img src="/icons/discounts/like.svg" alt="Добавить в избранное" />
  </div>
</template>

<script>
export default {
  props: {
    favorite: {
      required: false,
      default: false,
      type: Boolean
    }
  },
  data(){
      return{
          hover: false
      }
  },
  computed: {
    content() {
      return this.favorite ? "в избранном" : "добавить<br />в избранное"
    },
    favoriteClass() {
      return this.favorite ? "favorite" : ""
    }
  }
};
</script>

<style scoped>
.like-text {
  position: absolute;
  text-align: center;
  font-size: 9px;
  line-height: 9px;
  left: 53px;
  top: 8px;
}
.like-icon {
  position: absolute;
  left: 12px;
  top: 6px;
}
.favorite {
  color: red !important;
  line-height: 22px;
}
.like-wrapper:hover {
  color: red !important;
  cursor: pointer;
}
</style>