<template>
  <v-app-bar height="50" app color="rgba(247, 247, 247)">
    <back @click="historyBack" class="back-button" />
    <v-spacer></v-spacer>
    <span class="menu-title">
      <slot />
    </span>
    <v-spacer></v-spacer>
    <v-btn icon @click="logout" v-if="loggedIn">
      <v-icon>mdi-logout</v-icon>
    </v-btn>
    <v-btn v-else @click="login" icon>
      <v-icon>mdi-login</v-icon>
    </v-btn>
    <!--  -->
    <nuxt-link to="help">
      <godzilla-mini />
    </nuxt-link>
  </v-app-bar>
</template>

<script>
import Back from "./back";
import GodzillaMini from "./godzilla-mini";
export default {
  name: "TopMenu",
  components: { Back, GodzillaMini },
  computed: {
    loggedIn() {
      return this.$auth.loggedIn;
    }
  },
  methods: {
    historyBack() {
      this.$router.back();
    },
    logout() {
      this.$auth.logout();
    },
    login() {
      this.$router.push("/login");
    }
  }
};
</script>

<style scoped>
.menu-title {
  font-style: normal;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
}
.back-button {
  cursor: pointer;
}
.v-toolbar {
  box-shadow: none;
}
.online {
  color: green;
}
.offline {
  color: red;
}
</style>