<template>
  <!-- You can find this swiper instance object in current component by the "mySwiper"  -->
  <div v-swiper:mySwiper="swiperOption">
    <div class="swiper-wrapper">
      <div class="swiper-slide" v-for="category in categoriesWithFavorited" :key="category.id">
        <category :category="category" @favorite="favoriteCategory(category)" />
      </div>
    </div>
  </div>
</template>

<script>
import Category from "~/components/filter/category-item";
import { mapState } from "vuex";
export default {
  components: { Category },
  data() {
    return {
      swiperOption: {
        loop: false,
        slidesPerView: "auto",
        centeredSlides: false,
        spaceBetween: 9
      }
    };
  },
  computed: {
    ...mapState("categories", { categories: "categories" }),
    ...mapState("user-settings", { settings: "settings" }),
    categoriesWithFavorited() {
      return this.categories.map(category => {
        const isFavorite =
          this.settings.categories.findIndex(c => c.id === category.id) >
          -1;
        return { ...category, isFavorite };
      });
    }
  },
  methods: {
    favoriteCategory({ id, title }) {
      this.$store.commit("user-settings/category_favorite", { id, title });
    }
  },
  mounted() {
    this.$store.dispatch("categories/load");
  }
};
</script>


<style lang="scss" scoped>
.swiper-container {
  height: 150px;
  width: 100%;
  .swiper-slide {
    width: 110px;
  }
}
</style>