<template>
  <div class="category-item">
    <img :src="category.icon_url" :alt="category.title" />
    <div class="category-item__title">{{category.title}}</div>
    <star class="category-item__like-icon" :class="favoriteClass" @click.stop="categorySelect" />
  </div>
</template>

<script>
import Star from "./star";
export default {
  name: "CategoryItem",
  components: { Star },
  props: {
    category: {
      required: false
    }
  },
  computed: {
    favoriteClass() {
      return this.category.isFavorite
        ? "category-item__like-icon_favorite"
        : "";
    }
  },
  methods: {
    categorySelect() {
      this.$emit("favorite", this.category.id);
    }
  }
};
</script>

<style lang="scss" scoped>
.category-item {
  width: 90px;
  height: 120px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  &__like-icon {
    stroke: #9a99a2;
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    cursor: pointer;
    &_favorite{
        stroke: red;
    }
  }
  &__title {
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 12px;
    color: #9a99a2;
  }
}
</style>