<template>
  <div class="selected-list" v-show="items.length">
    <span v-if="title.length" class="selected-list__title">{{title}}:</span>
    <transition-group name="list" tag="span">
      <span v-for="item in items" :key="item.id" class="list-item">
        {{item.title}}
        <v-icon class="list-item__close-icon" :class="'list-item__close-icon_' + action" @click="clickItem(item)">{{icon}}</v-icon>
      </span>
    </transition-group>
  </div>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ""
    },
    items: {
      required: true,
      type: Array
    },
    action: {
      type: String,
      default: "delete"
    },
    icon:{
      type: String,
      default: "mdi-close-circle-outline"
    }
  },
  methods: {
    clickItem(item) {
      this.$emit(this.action, item);
    }
  }
};
</script>

<style lang="scss" scoped>
.selected-list {
  margin-left: 12px;
  &__title {
    font-size: 17px;
    line-height: 22px;
    font-weight: bold;
  }
}
.list-item {
  display: inline-block;
  margin-right: 5px;
  transition: all 1s;
  &__close-icon {
    font-size: 14px;
    cursor: pointer;
    &_add{
      color: green;
    }
    &_delete{
      color: red;
    }
  }
}

.list-enter,
.list-leave-to {
  opacity: 0;
  transform: translateX(100px);
}
.list-leave-active {
  position: absolute;
}
</style>
