<template>
  <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg" v-on="$listeners">
    <path
      d="M8.00003 0.857117L10.2072 5.32855L15.1429 6.04997L11.5715 9.52855L12.4143 14.4428L8.00003 12.1214L3.58575 14.4428L4.42861 9.52855L0.857178 6.04997L5.79289 5.32855L8.00003 0.857117Z"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
  </svg>
</template>