@import "app-variables.scss";

* {
  font-family: "SF Pro Display" !important;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}


.index-page {
  height: calc(100vh - 70px);
}

.page-content {
  min-height: 100vh;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.4s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

.divider {
  min-width: 90%;
  height: 1px;
  background-color: rgba(59, 89, 153, 0.35);
  position: relative;

  &-with-or {
    background-color: white;
    margin: 13px 0;
    &::after {
      content: url("/icons/or.svg");
      position: absolute;
      right: calc(50% - 20px);
      bottom: -13px;
    }
  }
}

.input-success{
  border-color: $input-success-color !important;
}
.input-error{
  border-color: $input-error-color !important;
}
.input-error-text{
  font-size: 0.7rem;
  color: $input-error-color;
  margin-left: 0.7rem;
}


