<template>
  <button class="app-button" :style="style" v-on="$listeners">
    <slot></slot>
  </button>
</template>
<script>
export default {
  props: {
    color: {
      default: "#007AFF",
      required: false
    },
    width: {
      default: "100px",
      required: false
    },
    bgColor:{
      default: "white",
      required: false
    }
  },
  computed:{
    style(){
      return `color: ${this.color}; width: ${this.width}; background-color: ${this.bgColor}`
    }
  }
};
</script>
<style lang="scss">
.app-button {
  height: 50px;
  min-width: 100px;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  border-radius: 8px;
  max-width: 100%;
}
</style>