<template>
  <section>
    <div class="a-field" :class="validatedClass">
      <div class="a-field__label">
        {{label}}
        <span v-if="required">*</span>
      </div>
      <input
        class="a-field__input"
        :type="type"
        :placeholder="placeholder"
        :title="error"
        :value="value"
        @input="input"
        :readonly="readonly"
        :autocomplete="autocomplete"
        :pattern="pattern"
        @focus="focus"
        ref="input"
        :required="required"
      />
      <i role="button" class="a-field__icon mdi" :class="icon" @click="iconClick" />
    </div>
    <div class="input-error-text" v-if="!valid || valid !==undefined">{{error}}</div>
  </section>
</template>
<script>
export default {
  name: "AppInput",
  props: {
    type: {
      default: "text"
    },
    label: {
      type: String,
      required: false
    },
    placeholder: {
      default: ""
    },
    value: {
      default: ""
    },
    icon: {
      default: ""
    },
    readonly: {
      default: false,
      required: false
    },
    autocomplete: {
      required: false,
      type: String,
      default: ""
    },
    required: {
      required: false,
      type: Boolean,
      default: false
    },
    pattern: {
      required: false,
      type: String
    },
    patternErrorText: {
      required: false,
      type: String
    }
  },
  data() {
    return {
      valid: undefined
    };
  },
  computed: {
    validatedClass() {
      // Пустое название класса если форма не должна валидироваться и форму только открыли
      if (this.valid === undefined || this.$refs.input?.form?.noValidate)
        return "";
      // Добавляю класс валидности поля
      return this.valid ? "input-success" : "input-error";
    },
    error() {
      if (this.valid === true) return "";
      if (
        this.$refs?.input?.validity?.patternMismatch &&
        this.patternErrorText !== undefined &&
        this.patternErrorText !== ""
      )
        return this.patternErrorText;
      else return this.$refs?.input?.validationMessage;
    }
  },
  methods: {
    input(e) {
      this.$emit("input", e.target.value);
      if (e.target.value === "") {
        this.valid = undefined;
        return;
      }
      this.valid = this.$refs.input.validity.valid;
    },
    focus() {
      this.$emit("focus");
    },
    iconClick() {
      this.$emit("iconClick");
    }
  },
  watch: {
    pattern() {
      this.valid = (new RegExp(this.pattern)).test(this.value)
      this.$refs.input.pattern = this.pattern
    }
  }
};
</script>
<style lang="scss" scoped>
@import "~/assets/scss/app-variables.scss";
.a-field {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  height: 44px;
  padding: 10px 11px;
  font-size: 17px;
  line-height: 22px;
  background-color: #ffffff;
  border-bottom: solid 1px #e6e4ea;
  box-sizing: border-box;

  &__label {
    flex-grow: 0;
    line-height: 22px;
    color: #77767e;
    flex-basis: 182px;
  }
  &__input {
    flex-grow: 1;
    &::placeholder {
      line-height: 22px;
    }
    &:focus {
      outline: none;
    }
  }
  &__icon {
    flex-grow: 0;
    line-height: 22px;
    font-size: 20px;
    cursor: pointer;
    color: #9a99a2;
  }
}
</style>
