<template>
<svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg" v-on="$listeners">
<path d="M21 1H1L9 10.46V18L13 20V10.46L21 1Z" stroke="#9A99A2" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</template>