<template>
  <div class="search">
    <div class="search__wrapper">
      <input type="text" class="search__input" placeholder="поиск" v-model="value" />
      <div class="search__close-button">
        <v-btn icon @click="value=''">
          <v-icon>mdi-close-circle-outline</v-icon>
        </v-btn>
      </div>
    </div>
    <div class="search__button">
      <filter-button @click="search" />
    </div>
  </div>
</template>

<script>
import FilterButton from "~/components/filter-button";

export default {
  name: "SearchPanel",
  components: { FilterButton },
  data() {
    return {
      value: ""
    };
  },
  methods: {
    search() {
      this.$emit("search", this.value);
    }
  }
};
</script>

<style>
.search {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.search__wrapper {
  flex-grow: 1;
  position: relative;
}
.search__input {
  background: #ddd;
  border-radius: 10px;
  box-sizing: border-box;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  background-image: url(/icons/catalog/search.svg);
  background-repeat: no-repeat;
  padding-left: 30px;
  padding-right: 30px;
  background-position-x: 10px;
  background-position-y: 10px;
  height: 36px;
  width: 100%;
}
.search__close-button {
  position: absolute;
  right: 0;
  bottom: 0;
}
.search__button {
  padding: 9px 0 0 9px;
  height: 36px;
  width: 36px;
  cursor: pointer;
}
</style>