<template>
  <v-snackbar
    :value="snackbar.show"
    bottom
    :color="snackbar.color"
    :timeout="snackbar.timeout"
    @input="input"
  >
    {{ snackbar.text }}
    <v-btn icon small @click="close">
        <v-icon>mdi-close</v-icon>
    </v-btn>
  </v-snackbar>
</template>

<script>
import { mapState } from "vuex";
export default {
  computed: {
    ...mapState("common", {
      snackbar: "snackbar"
    }),
  },
  methods: {
    close() {
      this.$store.commit("common/hideSnackbar");
    },
    input(show){
        this.$store.commit("common/setSnackbar", {show});        
    }

  }
};
</script>

<style>
</style>