// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
@import "~vuetify/src/styles/styles.sass";
$font-size-root: 20px;
$body-font-family: "HelveticaNeueCyr";
$border-radius-root: 2px;
$font-size-root: 13px;
$text-field-border-radius: 2px;
$input-font-size: 13px;

