<template>
  <div class="discount-item-card">
    <v-row>
      <v-col class="discount-item--title">{{discount.title}}</v-col>
    </v-row>
    <v-row>
      <v-col md="12" sm="12" lg="4">
        <v-carousel :hide-delimiters="true" height="400px">
          <v-carousel-item v-for="image in discount.images" :key="image.id">
            <div class="carousel-image">
              <img :src="image.url" width="400px" />
            </div>
          </v-carousel-item>
        </v-carousel>
      </v-col>
      <v-col md="12" sm="12" lg="8">
        <v-row>
          <v-col>{{discount.description}}</v-col>
        </v-row>
        <v-row>
          <v-col class="discount-item--properties">
            <div>Скидка: {{discount.discount}}%</div>
            <div class="discount-item--price">Цена без скидки: {{discount.price|money}}</div>
            <div class="discount-item--sale-price">Цена со скидкой: {{priceWithDiscount|money}}</div>
            <div>Действие акции с {{discount.date_from}} по {{discount.date_to}}</div>
          </v-col>
        </v-row>
        <!-- <v-row>
          <v-col><span v-for=" tag in discount.tags " :key="tag" class="discount-item--tag">{{tag}}</span></v-col>
        </v-row>-->
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapState } from "vuex";
import meta from "~/mixins/setMeta";
export default {
  mixins: [meta],
  computed: {
    ...mapState("discounts", { discount: "currentDiscount" }),
    title() {
      return "Подробности акции";
    },
    description() {
      return this.discount.description;
    },
    priceWithDiscount() {
      return Math.round(
        this.discount.price -
          (this.discount.price * this.discount.discount) / 100
      );
    }
  },
  filters: {
    money(val) {
      return parseFloat(val).toFixed(2) + " ₽";
    }
  },
  created() {
    if (this.discount.id === undefined) {
      this.$store.dispatch("discounts/load_discount", this.$route.params.id);
    }
  }
};
</script>

<style scoped>
.carousel-image {
  text-align: center;
}
.discount-item-card {
  padding-bottom: 60px;
}
.discount-item--title {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
}
.discount-item--tag {
  margin-left: 0.2rem;
}
.discount-item--properties div {
  line-height: 17px;
}
.discount-item--price {
  text-decoration: line-through;
}

.discount-item--sale-price {
  color: red;
  font-weight: bold;
}
</style>