<template>
  <div>
    <search-panel @search="onSearch" />
    <discount-list :discounts="discounts" />
    <scroll-observer @intersect="onIntersected" />
  </div>
</template>
<script>
import DiscountList from "~/components/discounts/discount-list";
import SearchPanel from "~/components/search-panel"
import ScrollObserver from "~/components/scroll-observer";
import { mapState, mapGetters } from "vuex";
import meta from "~/mixins/setMeta";

export default {
  name: "Index",
  mixins: [meta],
  components: { DiscountList, ScrollObserver, SearchPanel },
  data() {
    return {
      title: "Скидки",
      description: "Список всех скидок"
    };
  },
  computed: {
    ...mapState("discounts", {
      from: "from",
      size: "size",
      query: "query"
    }),
    ...mapGetters("discounts", {
      discounts: "discountsWithFavorites"
    })
  },
  methods: {
    onIntersected() {
      if (this.discounts.length) {
        this.$store.dispatch("discounts/paginate");
      }
    },
    onSearch(query){
       this.$store.dispatch('discounts/load',{
         query,
         from: 0,
         size: this.size
       })
    }
  },
  created() {
    if (this.discounts.length === 0)
      this.$store.dispatch("discounts/load", { query: "" });
    if (this.$auth.loggedIn) this.$store.dispatch("discounts/favorites");
  }
};
</script>
