<template>
  <v-app>
    <v-app-bar height="80" app v-if="!showPanel">
      <v-app-bar-nav-icon></v-app-bar-nav-icon>

      <v-toolbar-title @click.prevent="$router.push('/')" class="logo">
        <v-img :src="$icon(64)" height="64" width="64"></v-img>
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <v-btn @click.prevent="$router.push('/logout')" icon>
        <v-icon>mdi-logout</v-icon>
      </v-btn>

      <v-btn @click.prevent="$router.push('/favorits')" icon>
        <v-icon>mdi-heart</v-icon>
      </v-btn>

      <v-btn icon @click.prevent="showPanel = true">
        <v-icon>mdi-magnify</v-icon>
      </v-btn>

      <v-btn v-if="$auth" :title="username" icon>
        <v-icon >mdi-account</v-icon>
      </v-btn>
      <!-- -->
    </v-app-bar>
    <v-app-bar height="80" app v-if="showPanel">
      <v-spacer></v-spacer>
      <v-text-field v-model="query" width="40px"></v-text-field>
      <v-icon @click="search">mdi-magnify</v-icon>
    </v-app-bar>

    <!-- Sizes your content based upon application components -->
    <v-content>
      <!-- Provides the application the proper gutter -->
      <v-container fluid>
        <!-- If using vue-router -->
        <nuxt />
      </v-container>
      <div class="bottom-spacer"></div>
    </v-content>

    <v-footer height="auto" dark fixed>
      <v-layout justify-center row wrap>
        <v-flex color="indigo" dark py-3 text-xs-center white--text xs12>
          &copy;{{years}} —
          <strong>ShopZilla</strong>
        </v-flex>
      </v-layout>
    </v-footer>
    <snackbar />
  </v-app>
</template>

<script>
import Snackbar from "../components/snackbar";
export default {
  components: { Snackbar },
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      items: [
        {
          icon: "mdi-apps",
          title: "Welcome",
          to: "/"
        },
        {
          icon: "mdi-chart-bubble",
          title: "Inspire",
          to: "/inspire"
        }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      showPanel: false,
      query: ""
    };
  },
  methods: {
    login() {
      this.$router.push("/login");
    },
    register() {
      this.$router.push("/register");
    },
    logout() {
      this.$auth.logout();
      this.$store.commit("clear");
    },
    search() {
      this.$store.dispatch("discounts/load", {
        query: this.query
      });
      this.query = "";
      this.showPanel = false;
    }
  },
  computed: {
    years() {
      return new Date().getFullYear();
    },
    username() {
      return this.$auth === undefined ? $auth.$state.user.name : "";
    }
  }
};
</script>
<style scoped>
.logo {
  cursor: pointer;
}
.bottom-spacer {
  height: 3rem;
}
.online {
  color: green;
}
.offline {
  color: red;
}
</style>