<template>
  <v-app>
    <top-menu>{{pageName}}</top-menu>
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    <main-menu />
    <snackbar />
  </v-app>
</template>

<script>
import Snackbar from "../components/snackbar";
import TopMenu from "~/components/top_menu";
import MainMenu from "~/components/main_menu";

import { mapState } from "vuex";
export default {
  components: { Snackbar, TopMenu, MainMenu },
  computed: {
    ...mapState("common", { pageName: "pageName" })
  }
};
</script>
<style scoped>
.container {
  background: #e5e5e5;
  min-height: 100%;
}
</style>
