<template>
  <v-app class="main-layout">
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import Snackbar from "../components/snackbar";
import MainMenu from "../components/main_menu";

export default {
  components: { Snackbar, MainMenu }
};
</script>

<style lang="scss" scoped>

  .main-layout {
    background-image: url("/images/main-page-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

</style>
