<template>
<svg width="109" height="50" viewBox="0 0 109 50" fill="none" xmlns="http://www.w3.org/2000/svg" v-on="$listeners">
<rect width="109" height="50" rx="8" fill="#3B5999"/>
<path d="M60 15H57C55.6739 15 54.4021 15.5268 53.4645 16.4645C52.5268 17.4021 52 18.6739 52 20V23H49V27H52V35H56V27H59L60 23H56V20C56 19.7348 56.1054 19.4804 56.2929 19.2929C56.4804 19.1054 56.7348 19 57 19H60V15Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</template>