<template>
  <svg width="109" height="50" viewBox="0 0 109 50" fill="none" xmlns="http://www.w3.org/2000/svg" v-on="$listeners">
    <rect width="109" height="50" rx="8" fill="#232326" />
    <path
      d="M62.1581 26.8731L62.2052 26.33H61.66H55.65V24.6H63.8944C63.8958 24.6111 63.8972 24.6225 63.8986 24.634C63.9339 24.9244 63.97 25.3567 63.97 25.91C63.97 28.4955 63.0424 30.635 61.5031 32.1287C59.9622 33.6239 57.779 34.5 55.22 34.5C49.4252 34.5 45.5 29.7934 45.5 25C45.5 20.0651 49.677 15.5 55.07 15.5C57.1946 15.5 58.8336 16.1471 59.9409 16.7921C60.4949 17.1148 60.915 17.4366 61.1943 17.6751C61.2182 17.6956 61.2411 17.7155 61.263 17.7346L60.0491 18.9997C59.8133 18.801 59.4717 18.5421 59.0319 18.2838C58.136 17.7578 56.8243 17.23 55.17 17.23C50.892 17.23 47.47 20.6257 47.47 25C47.47 29.5378 51.0657 32.77 55.16 32.77C56.7438 32.77 58.3955 32.3408 59.7064 31.3824C61.0299 30.4147 61.9805 28.9241 62.1581 26.8731Z"
      stroke="white"
    />
  </svg>
</template>