
<template>
  <div>{{user}}</div>
</template>

<script>
export default {
//   middleware: ["auth"],
  computed: {
    user() {
      return this.$auth.$state.user;
    }
  },
  async mounted() {
      let {data:{user, token}} = await this.$axios.post('/api/login', this.$auth.$state.user);
      this.$auth.ctx.app.$axios.setHeader("Authorization", false);
      
      this.$auth.ctx.app.$axios.setHeader("Authorization", "Bearer " + token.accessToken);
  }
};
</script>

<style>
</style>