<template>
  <v-row>
    <v-col class="catalog">
      <catalog-item
        v-for="category in categories"
        :key="category.id"
        :category="category"
        class="catalog__item mt-3"
        @click="catalogItemClick(category.title)"
      ></catalog-item>
    </v-col>
  </v-row>
</template>

<script>
import meta from "~/mixins/setMeta";
import CatalogItem from "~/components/catalog/catalog-item";
import { mapState } from "vuex";
export default {
  name: "Catalog",
  components: { CatalogItem },
  data() {
    return {
      title: "Каталог",
      description: "Каталог скидок"
    };
  },
  mixins: [meta],
  computed: {
    ...mapState("categories", { categories: "categories" })
  },
  methods: {
    catalogItemClick(query) {
      this.$store.dispatch("discounts/load", { query });
      this.$router.push("/discounts")
    }
  },
  created() {
    this.$store.dispatch("categories/load");
  }
};
</script>

<style lang="scss" scoped>
.catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 50px;
}
</style>