<template>
    <discount-list :discounts="favorites" />
</template>

<script>
import DiscountList from "~/components/discounts/discount-list";
import ScrollObserver from "~/components/scroll-observer";
import { mapState } from "vuex";
import meta from "~/mixins/setMeta"
export default {
  name: "FavoritsPage",
  middleware: ["auth"],
  components: { DiscountList, ScrollObserver },
  mixins: [meta],
  data(){
    return{
      title: "Избранные скидки",
      description: "Избранные скидки"
    }
  },
  computed: {
    favorites() {
      return this.$store.state.discounts.favorites;
    },
    ...mapState("discounts", {
      from: "from",
      size: "size",
      query: "query"
    })
  },
  async fetch({ store }) {
    try{
     await store.dispatch("discounts/favorites");
    }
    catch(error){
      console.log(error)
    }
  }
};
</script>