<template>
  <discount-list :discounts="discounts" />
</template>

<script>
import DiscountList from "~/components/discounts/discount-list";
import ScrollObserver from "~/components/scroll-observer";
import { mapGetters } from "vuex";
import meta from "~/mixins/setMeta";
export default {
  name: "FavoritsPage",
  middleware: ["auth"],
  components: { DiscountList, ScrollObserver },
  mixins: [meta],
  data() {
    return {
      title: "Ваши предпочтения",
      description: "Ваши предпочтения"
    };
  },
  computed: {
    ...mapGetters("discounts", { discounts: "filteredWithFavorites" })
  },
  async fetch({ store }) {
    try {
      await store.dispatch("discounts/get_filtered_discounts");
    } catch (error) {
      console.log(error);
    }
  }
};
</script>