<template>
  <div class="help">
    <div class="help__title">Как это работает</div>
    <div class="help__description">
      Наше приложение позволяет получать актуальную информацию о скидках в вашем городе.
      С приложением работать не сложно:
      <ul>
        <li
          class="help__description-list"
        >в разделе Категории вы выбираете те категории товаров/услуг, которые вам интересны;</li>
        <li
          class="help__description-list"
        >далее переходите в раздел Акции и смотрите какие есть в текущий момент действуют скидки;</li>
        <li
          class="help__description-list"
        >возможна и более тонкая настройка - по тегу или бренду в разделе Фильтр;</li>
        <li
          class="help__description-list"
        >в разделе Профиль можно настроить удаленность от магазинов;</li>
      </ul>Добавлять Акции в Избранное.
      Сохранение выбранного фильтра и избранных акций возможно только после прохождения регистрации.
    </div>
  </div>
</template>

<script>
import meta from "~/mixins/setMeta"
export default {
      data() {
    return {
      title: "О приложении",
      description: "О программе Shoppzilla",
    };
  },
  mixins: [meta],
};
</script>

<style lang="scss" scoped>
.help {
  * {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 28px;
    color: #77767e;
  }
  &__title {
    font-weight: bold;
  }
}

.help__description-list {
  list-style-type: none;
}
.help__description-list::before {
  content: "- ";
}
</style>