<template>
  <v-layout align-center justify-space-between column class="index-page">
    <div class="index-page__hello">
      <div class="index-page__hello-text">Добро пожаловать в ShoppZilla</div>
      <div class="index-page__hello-description mt-6">
        В нашем приложении мы постарались собрать
        <br />все скидки и акции в вашем городе
      </div>
    </div>
    <div class="index-page-images">
      <div>
        <img src="/images/godzi.svg" alt="ShoppZilla - icon" />
      </div>
      <div class="index-page-images__phone index-page-images__phone-position">
        <img src="/images/phone.svg" alt="Phone" />
      </div>
    </div>
    <div class="index-page__buttons">
      <app-button @click="enter" width="300px" color="white" bg-color="#007AFF">Войти</app-button>
      <div class="divider divider-with-or"></div>
      <app-button @click="registration" width="300px">Зарегистрироваться</app-button>
    </div>
  </v-layout>
</template>
<script>
import Godzilla from "~/components/godzilla";
import AppButton from "~/components/app-button";

export default {
  name: "Home",
  components: { Godzilla, AppButton },
  layout: "main",
  methods: {
    enter() {
      this.$router.push("catalog");
    },
    registration() {
      this.$router.push("registration");
    }
  },
  mounted(){
    console.log(this.$auth.$state.user)
  }
};
</script>
<style lang="scss">
.index-page__hello {
  flex-basis: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  &-text {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 0.4px;

    color: #ffffff;
  }
  &-description {
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.41px;
    color: #ffffff;
  }
}

.index-page__buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-basis: 135px;
  width: 100%;
}
.index-page-images__phone-position {
  position: absolute;
  right: -12px;
  bottom: 8em;
}
.index-page-images {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-basis: 300px;
  align-items: flex-end;
}
</style>
