<template>
  <section>
    <v-form>
      <v-layout class="d-flex flex-column page-content">
        <v-flex flex-grow-0 mt-10>
          <app-input
            type="email"
            placeholder="введите email"
            label="Email"
            icon="mdi-close-circle-outline"
            v-model="email"
            @iconClick="email=''"
            autocomplete="username"
          />
          <app-input
            :type="passwordType"
            placeholder="введите пароль"
            label="Пароль"
            :icon="passIcon"
            @iconClick="changeShowPassword"
            v-model="password"
            autocomplete="current-password"
          />
        </v-flex>
                <v-flex align-self-center flex-grow-0 mt-5>
          <app-button @click.prevent="login">Войти</app-button>
        </v-flex>
        <div class="divider divider-with-or mt-5"></div>
        <v-flex align-self-center flex-grow-1 mt-5>
          <facebook />
          <google @click="google"/>
          <vk />
        </v-flex>

      </v-layout>
    </v-form>
  </section>
</template>
<script>
import meta from "~/mixins/setMeta";
import AppInput from "~/components/app-input";
import Facebook from "~/components/social/facebook";
import Google from "~/components/social/google";
import Vk from "~/components/social/vk";
import AppButton from "~/components/app-button";
export default {
  data() {
    return {
      title: "Вход",
      description: "Страница входа",
      email: "",
      password: "",
      showPassword: false
    };
  },
  components: { AppInput, Facebook, Google, Vk, AppButton },
  mixins: [meta],
  layout: "auth",
  computed: {
    passIcon() {
      return this.showPassword ? "mdi-eye" : "mdi-eye-off";
    },
    passwordType() {
      return this.showPassword ? "text" : "password";
    }
  },
  methods: {
    changeShowPassword() {
      this.showPassword = !this.showPassword;
    },
    async login() {
      await this.$auth.loginWith("password_grant_custom", {
        data: {
          username: this.email,
          password: this.password
        }
      });
      this.$router.push("/favorites")
    },
    async google() {
      let user = await this.$auth.loginWith("google");
      info(user)
      //window.location.href = "http://localhost:8081/api/google/redirect";
    }
  }
};
</script>

<style lang="scss" scoped>
.social-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.login-table {
  width: 100%;
  border-collapse: collapse;
  white-space: nowrap;
  tr {
    border-bottom: 1px solid #e6e4ea;
  }
}
</style>