<template>
  <v-form>
    <v-layout class="d-flex flex-column page-content">
      <v-flex flex-grow-0>
        <div class="profile">
          <div class="profile__image">
            <img :src="profileImageUrl" alt="profile" v-if="profileImageUrl" />
          </div>
          <a>Ваше фото</a>
        </div>
      </v-flex>

      <v-flex flex-grow-0 mt-1>
        <app-input
          type="email"
          placeholder="введите email"
          label="Email"
          icon="mdi-close-circle-outline"
          v-model="email"
          @iconClick="email = ''"
        />
        <app-input
          :type="passwordType"
          placeholder="введите пароль"
          label="Пароль"
          :icon="passIcon"
          v-model="password"
        />
        <app-input
          :type="passwordType"
          placeholder="повторите пароль"
          label="Пароль"
          :icon="passIcon"
          @iconClick="showPassword = !showPassword"
          v-model="password2"
        />
        <app-input
          type="text"
          placeholder="+7(000) 000-00-00"
          label="Номер телефона"
          icon="mdi-close-circle-outline"
          v-model="phone"
          @iconClick="phone = ''"
        />

        <app-input
          type="text"
          placeholder="дата рождения"
          label="Дата рождения"
          icon="mdi-calendar"
          v-model="dateOfBirthLocal"
          @iconClick="dialog = true"
          @focus="dialog = true"
        />
        <v-dialog v-model="dialog" persistent max-width="290">
          <v-card>
            <v-date-picker v-model="dateOfBirth" @click:date="dialog=false"></v-date-picker>
            <v-card-actions>
              <v-btn @click="dialog=false" color="#007AFF">Закрыть</v-btn>
              <v-btn @click="clearDate">Очистить</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-flex>
      <v-flex align-self-center flex-grow-1 mt-5>
        <app-button width="160px">Сохранить</app-button>
        <app-button width="160px" color="white" bg-color="#007AFF">Продолжить</app-button>
      </v-flex>
    </v-layout>
  </v-form>
</template>
<script>
import meta from "~/mixins/setMeta";
import AppInput from "~/components/app-input";
import AppButton from "~/components/app-button.vue";
export default {
  name: "Profile",
  middleware: ["auth"],
  layout: "auth",
  components: { AppInput, AppButton },
  data() {
    return {
      title: "Профиль",
      description: "Настройки пользователя",
      email: "",
      profileImageUrl: "",
      password: "",
      password2: "",
      phone: "",
      showPassword: false,
      dateOfBirth: "",
      dialog: false,
      position: 0,
      start: 0
    };
  },
  mixins: [meta],
  computed: {
    passIcon() {
      return this.showPassword ? "mdi-eye" : "mdi-eye-off";
    },
    passwordType() {
      return this.showPassword ? "text" : "password";
    },
    dateOfBirthLocal() {
      if (this.dateOfBirth.length)
        return new Date(this.dateOfBirth).toLocaleDateString();
      else return "";
    }
  },
  methods: {
    clearDate() {
      this.dateOfBirth = "";
      this.dialog = false;
    }
  },
  created() {
    let { email, profile_image_url, phone } = this.$auth.user;
    this.email = email;
    this.profileImageUrl = profile_image_url;
    this.phone = phone;
  }
};
</script>
<style lang="scss" scoped>
.profile {
  min-height: 124px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile__image {
  min-width: 65px;
  min-height: 65px;
  max-width: 65px;
  max-height: 65px;
  overflow: hidden;
  background-image: url("/images/empty-profile-image.svg");
  background-color: transparent;
}
</style>