<template>
  <section>
    <!-- <app-input type="text" placeholder="*Имя" v-model="name" /> -->
    <form ref="validationForm">
      <v-layout class="d-flex flex-column page-content">
        <v-flex flex-grow-0>
          <div class="profile">
            <div class="profile__image">
              <img src="/images/empty-registration-image.png" alt="profile image" />
            </div>
          </div>
        </v-flex>

        <v-flex flex-grow-0 mt-5 ml-4>
          <div class="registration-title">Внесите пожалуйста данные</div>
        </v-flex>

        <v-flex flex-grow-0 mt-1>
            <app-input
            placeholder="введите имя"
            label="Имя"
            icon="mdi-close-circle-outline"
            v-model="name"
            @iconClick="name=''"
            autocomplete="username"
            required
          />
          <app-input
            type="email"
            placeholder="введите email"
            label="Email"
            icon="mdi-close-circle-outline"
            v-model="email"
            @iconClick="email=''"
            autocomplete="email"
            required
          />
          <app-input
            :type="passwordType"
            placeholder="введите пароль"
            label="Пароль"
            :icon="passIcon"
            @iconClick="changeShowPassword"
            v-model="password"
            autocomplete="password"
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{6,}$"
            :patternErrorText="passwordPatternErrorText"
            required
          />
          <app-input
            :type="passwordType"
            placeholder="повторите пароль"
            label="Пароль"
            :icon="passIcon"
            @iconClick="changeShowPassword"
            v-model="password2"
            autocomplete="new-password"
            :pattern="password"
            :patternErrorText="passwordNotEqualErrorText"
            required
          />
        </v-flex>
        <v-flex flex-grow-0 mt-5>
          <div class="error">{{error}}</div>
        </v-flex>

        <v-flex align-self-center flex-grow-0 mt-5>
          <app-button width="340px" @click.prevent="registration">Зарегистрироваться</app-button>
        </v-flex>
        <div class="divider divider-with-or mt-5"></div>
        <v-flex align-self-center flex-grow-1 mt-5>
          <facebook />
          <google @click="registrationWithGoogle" />
          <vk />
        </v-flex>
      </v-layout>
    </form>
  </section>
</template>
<script>
import meta from "~/mixins/setMeta";
import AppInput from "~/components/app-input";
import Facebook from "~/components/social/facebook";
import Google from "~/components/social/google";
import Vk from "~/components/social/vk";
import AppButton from "~/components/app-button";

export default {
  data() {
    return {
      title: "Регистрация",
      description: "Страница регистрации пользователя",
      name: "",
      email: "",
      password: "",
      password2: "",
      showPassword: false,
      error: "",
      passwordPatternErrorText: "Пароль должен содержать минимум 6 символов: в нижнем и верхнем регистре и одну цифру.",
      passwordNotEqualErrorText: "Пароли не совпадают"
    };
  },
  components: { AppInput, Facebook, Google, Vk, AppButton },
  mixins: [meta],
  layout: "auth",
  computed: {
    passIcon() {
      return this.showPassword ? "mdi-eye" : "mdi-eye-off";
    },
    passwordType() {
      return this.showPassword ? "text" : "password";
    }
  },
  methods: {
    changeShowPassword() {
      this.showPassword = !this.showPassword;
    },
    registration() {
      debugger
      this.$refs.validationForm;

    },
    async registrationWithGoogle(){
      await this.$auth.loginWith("google");
    }
  },
};
</script>

<style scoped>
.social-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.profile {
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.profile__image {
  display: flex;
  justify-content: center;
}
.registration-title {
  color: #9a99a2;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
}
.container {
  padding: 0;
}
</style>