<template>
  <v-layout class="d-flex flex-column page-content">
    <h1 class="ml-2">Выберите категорию</h1>
    <p class="settings-text ml-2">можно выбрать несколько категорий, брендов и тегов</p>
    <carousel />
    <form novalidate>
      <app-input
        type="text"
        placeholder="поиск по брендам"
        label="Бренды"
        icon="mdi-close"
        v-model="brand"
        @input="brandSearch"
      />
      <selected-list :items="brands" @add="addBrand" action="add" icon="mdi-plus-circle-outline" />

      <app-input
        type="text"
        placeholder="поиск по тегам"
        label="Тэги"
        icon="mdi-close"
        v-model="tag"
        @input="tagSearch"
      />
    </form>
    <selected-list :items="loadedTags" @add="addTag" action="add" icon="mdi-plus-circle-outline" />

    <v-flex mt-2 flex-grow-0>
      <selected-list title="Категории" :items="settings.categories" @delete="deleteCategory" />
      <selected-list title="Бренды" :items="settings.brands" @delete="deleteBrand" />
      <selected-list title="Теги" :items="selectedTags" @delete="deleteTag" />
    </v-flex>
    <v-flex align-self-center flex-grow-1 mt-5>
      <app-button width="300px" color="white" bg-color="#007AFF" @click="saveSettings">Сохранить</app-button>
    </v-flex>
  </v-layout>
</template>

<script>
import setMeta from "~/mixins/setMeta";
import { mapState } from "vuex";
import AppInput from "~/components/app-input";
import AppButton from "~/components/app-button.vue";
import Carousel from "~/components/filter/carousel";
import SelectedList from "~/components/filter/selected-list";
export default {
  name: "UserSettings",
  layout: "auth",
  middleware: ["auth"],
  components: { AppInput, AppButton, Carousel, SelectedList },
  data() {
    return {
      title: "Настройки",
      description: "Пользовательские настройки",
      brand: "",
      tag: ""
    };
  },
  mixins: [setMeta],
  computed: {
    ...mapState("user-settings", {
      settings: "settings",
      brands: "brands",
      tags: "tags"
    }),
    selectedTags() {
      return this.settings.tags.map(t => {
        return { id: t, title: t };
      });
    },
    loadedTags() {
      return this.tags.map(t => {
        return { id: t, title: t };
      });
    }
  },
  methods: {
    brandSearch(query) {
      this.$store.dispatch("user-settings/load_brands", query);
    },
    tagSearch(query) {
      this.$store.dispatch("user-settings/load_tags", query);
    },
    addBrand({ id, title }) {
      this.$store.commit("user-settings/brand_favorite", { id, title });
    },
    deleteBrand(brand) {
      this.$store.commit("user-settings/brand_unfavorite", brand);
    },
    addTag({ title }) {
      this.$store.commit("user-settings/tag_favorite", title);
    },
    deleteTag({ title }) {
      this.$store.commit("user-settings/tag_unfavorite", title);
    },
    deleteCategory(category) {
      this.$store.commit("user-settings/category_favorite", category);
    },
    saveSettings() {
      this.$store.dispatch("user-settings/save_settings");
    }
  },
  created() {
    this.$store.commit("user-settings/set_settings", this.$auth.user.settings);
  }
};
</script>

<style lang="scss" scoped>
@import "~assets/scss/app-variables.scss";

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.35px;
}
.settings-text {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  color: $text-color-gray;
}
.slide {
  width: 100px;
  height: 150px;
}
</style>