<template>
  <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
    <circle cx="7.5" cy="7.5" r="6.5" fill="white" stroke-width="2" />
    <path class="path-line" d="M0 29L29 0" stroke-width="2" />
    <circle cx="21.5" cy="21.5" r="6.5" fill="white" stroke-width="2" />
  </svg>
</template>