<template>
  <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M23.3933 15.9061L15.9135 23.3879C15.7197 23.582 15.4896 23.7359 15.2363 23.8409C14.983 23.9459 14.7115 24 14.4373 24C14.1631 24 13.8916 23.9459 13.6383 23.8409C13.3851 23.7359 13.155 23.582 12.9612 23.3879L4 14.4348V4H14.4321L23.3933 12.9635C23.7819 13.3545 24 13.8835 24 14.4348C24 14.9862 23.7819 15.5151 23.3933 15.9061Z"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    />
    <circle cx="9" cy="9" r="0.5" />
  </svg>
</template>