<template>
  <v-footer height="50px" fixed color="#F0F0F3">
    <v-layout justify-space-around row>
      <nuxt-link to="/discounts">
        <home class="main-menu__button" />
      </nuxt-link>
      <nuxt-link to="/favorites">
        <favorites class="main-menu__button" />
      </nuxt-link>
      <nuxt-link to="/filter">
        <catalog class="main-menu__button" />
      </nuxt-link>
      <nuxt-link to="/user-settings">
        <user-settings class="main-menu__button" />
      </nuxt-link>
      <nuxt-link to="/profile">
        <profile class="main-menu__button" />
      </nuxt-link>
    </v-layout>
  </v-footer>
</template>
<script>
import Favorites from "./favorites";
import Profile from "./profile";
import Adv from "./adv";
import Catalog from "./catalog";
import UserSettings from "./user-settings";
import Home from "./home";
export default {
  name: "MainMenu",
  components: { Favorites, Profile, Catalog, Adv, UserSettings, Home }
};
</script>
<style lang="scss" scoped>
.main-menu__button {
  stroke: #7e7e7e;
}
.nuxt-link-active{
  .main-menu__button {
  stroke: #3e3e3e;
}
}
</style>