<template>
<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M18 23V21C18 19.9391 17.5786 18.9217 16.8284 18.1716C16.0783 17.4214 15.0609 17 14 17H7C5.93913 17 4.92172 17.4214 4.17157 18.1716C3.42143 18.9217 3 19.9391 3 21V23" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M10.5 13C12.7091 13 14.5 11.2091 14.5 9C14.5 6.79086 12.7091 5 10.5 5C8.29086 5 6.5 6.79086 6.5 9C6.5 11.2091 8.29086 13 10.5 13Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

</template>