<template>
<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M6 23V16" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M6 12V5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M14 23V14" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M14 10V5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M22 23V18" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M22 14V5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M3 16H9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M11 10H17" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M19 18H25" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

</template>